[data-md-color-scheme="default"] {
    --md-primary-fg-color: #FFFFFF;
    --md-accent-fg-color: #fca311;
    --md-typeset-a-color: #000000;

}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #000000;
    --md-accent-fg-color: #ffbf69;
    --md-typeset-a-color: #FFFFFF;
}

div.md-content {
    text-align: justify;
}

div.md-header__topic {
    display: none;
}

.md-nav--primary .md-nav__title {
    font-size: 0; /* Set font size to 0 to hide text */
}
